@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
a:link, a:visited { text-decoration: none; }
ul, li { list-style-type: none }
img { border: 0; }
body { width: 1600px ; font-size: 12px; background: #226039 url(https://i.ibb.co/Mcnw0Pb/bg-girl.jpg) center 0 scroll no-repeat; color: #5d5d5d; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* header */
header { width: 100%; margin: auto; border-bottom: #3c7a48 8px solid }
.quotes { width: 1000px; position: relative; margin: 60px auto 120px auto; }
.quotes p { text-shadow: #246640 1px 1px 1px; color: #fff; width: 330px; line-height: 26px; }
.rong{ width: 100%;border-top: #B4EEB4 2px solid;background: #226039 }
.text5 { position: absolute; left: 0px; top: 160px; font-family: "锟斤拷锟斤拷���ゆ�凤拷锟芥�锟介���ゆ�凤拷锟斤拷��锟藉嘲锟界》�凤拷锟介��锟�"; font-size: 30px; color: #FFF; -webkit-box-reflect: below -3px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); }/* below锟斤拷锟姐��锟界�斤拷锟斤拷��锟介������ャ�ｏ拷��锟藉�ゆ�风�癸拷锟芥���烽��浠�锟斤拷锟斤拷��浠�锟斤拷锟斤拷��浠�锟斤拷锟姐��锟藉�ゆ�凤拷锟介��濮�锟解���烽��浠�锟斤拷锟姐��锟藉嘲���锟�3px 锟斤拷锟姐��锟界�斤拷锟斤拷锟介���ゆ�烽���ゆ�锋俊��锟斤拷��濮�锟斤拷����锟窖�锟界�斤拷锟斤拷��锟界�斤拷锟斤拷��锟藉�ゆ�烽��浠�锟斤拷锟姐��锟斤拷 */
.flower { position: absolute; right: 0; top: 60px; background: url(https://i.ibb.co/3pWgJv7/flower.png) no-repeat; width: 173px; height: 175px; z-index: 2 }
.flower img { margin: 22px 0 0 17px; display: block; }
/* nav */
#nav { width: 100%; line-height: 50px; height: 50px; font-family: "锟斤拷锟斤拷���ゆ�凤拷锟芥�锟介���ゆ�凤拷锟斤拷��锟藉嘲锟界》�凤拷锟介��锟�"; font-size: 16px; background: rgba(56,134,72,.8); text-align: center; position: relative; border-bottom: #559765 1px solid }
#nav ul { width: 1000px; margin: auto; background:  left no-repeat; overflow: hidden }
#nav ul li { display: inline; margin: 0 12px; text-align: center; }
#nav ul li a { color: #fff; }


.dowebok { font-family: "Microsoft Yahei";}
.dowebok h1 { margin: 60px 0 30px; font-size: 60px; font-weight: 500; text-align: center;}
.dowebok .list { width: 1064px; margin: 0 auto; overflow: hidden; zoom: 1;margin-top: 40px;}
.dowebok .list ul { float: left; width: 246px; margin: 0 10px; list-style-type: none; margin-bottom: 20px;}
.dowebok .list img { width: 100%; border-radius: 5px; vertical-align: top;}

/* hope */
.text6 {font-family: "锟斤拷锟斤拷���ゆ�凤拷锟芥�锟介���ゆ�凤拷锟斤拷��锟藉嘲锟界》�凤拷锟介��锟�"; font-size: 30px; color: #FFF; -webkit-box-reflect: below 1px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); width:1000px; margin:auto  }
.hope{ border-top:50px #559664 solid; padding:20px; color:#FFF }
.hope ul{ width:1000px; margin:auto;background: url(https://i.ibb.co/PzcMBnn/love.png) no-repeat left center; overflow:hidden}
.visitors{ width:500px; float:right}
.visitors dl { display: block; overflow: hidden; margin-bottom: 12px }
.visitors dt { float: left; }
.visitors dt img { width: 100px; height: 100px; margin-right: 20px; border-radius:100% }
.visitors dd { line-height: 22px; }
.visitors dd a{ color:#d2ec40; font-size:14px; font-weight:bold}
.visitors dt+dd{ margin-top:20px}
/*footer*/
footer{ background:#032e13; height:56px; line-height:56px;border: 2px solid}
footer p{ width:1000px; margin:auto; text-align:right;color:#BF3EFF }
footer p a{color:#C0FF3E}
footer p a:hover{ text-decoration:underline}
