<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aijingjing.mapper.ContentMapper" >

	<!-- Content selectById(Integer id); -->
	<select id="selectById" resultType="aijingjing.domain.Content">
		select * from content where id = #{id}
	</select>

	<!-- List<Content> select(String sel); -->
	<select id="select" resultType="aijingjing.domain.Content">
		select * from content 
		where (title like #{sel} or content like #{sel} or datetime like #{sel}) and state = 0
		order by STR_TO_DATE(datetime,'%Y-%m-%d') DESC
	</select>
	
	<!-- int insert(Content content); -->
	<insert id="insert">
		INSERT INTO content (title,content,img,datetime) 
		VALUES 
		(#{title},#{content},#{img},#{datetime})
	</insert>
	
	<!-- int delete(Integer id); -->
	<update id="delete">
		update content set state = 1 where id = #{id}
	</update>
	
	<!-- int edit(Content content); -->
	<update id="edit">
		update content 
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="datetime != null">datetime=#{datetime},</if>
			<if test="content != null">content=#{content},</if>
			<if test="state != null">state=#{state},</if>
			<if test="img != null">img=#{img}</if>
		</set>
		where id = #{id}
	</update>
</mapper>