<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aijingjing.mapper.PhotoMapper" >
  
  <!-- List<Photo> selectByIds(String[] ids); -->
  <select id="selectByIds" resultType="aijingjing.domain.Photo">
  	select * 
  	from photo 
  	where id in 
  	<foreach collection="array" item="id" index="index"
        open="(" close=")" separator=",">
        #{id}
    </foreach>
    and state = 0
  </select>
  
  <!-- int selectIdByPath(String image); -->
  <select id="selectIdByPath" resultType="int">
  	select id from photo where path = #{image}
  </select>
  
  <!-- int insertCallbackId(Photo photo); -->
  <insert id="insertCallbackId"  parameterType="aijingjing.domain.Photo" useGeneratedKeys="true" keyProperty="id">
<!--   	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">    
      SELECT LAST_INSERT_ID() AS ID      
    </selectKey> 
 -->  	
 	insert into photo 
 	(name,path,story,datetime)
  	values 
  	(#{name},#{path},#{story},#{datetime})
  </insert>
  
</mapper>